{
  "openapi": "3.0.3",
  "info": {
    "title": "VoltPrecon Truth Engine API",
    "version": "1.1.0",
    "description": "Physics-based real EV range + true TCO + SoH/resale for 920 2W/3W/4W models across 25 countries. Public, no key. CORS-open documented decision for embed partners (lender/insurance/dealer). Rate limited: 60 req/min/IP (429 + Retry-After + X-RateLimit-*). Errors are envelopes {error:{code,message,requestId}}. TCO math runs in INR units; non-IN tariffs convert via stamped FX (fxInrPerUsd + fxAsOf in every estimate response; table at tariffs.json _meta.fx_2026_04). Field web-vitals accepted at POST /api/v1/events as {n:'rum_webvitals',p:{lcpMs,inpMs,cls}} and surfaced in GET /api/v1/health rum. Snapshots with SLAs — no per-second tick feeds claimed. Version policy: v1 at /api/v1/*; v2 will ship alongside with 6-month Sunset window (see docs/API.md). Contact: api@voltprecon.app",
    "contact": { "name": "VoltPrecon", "url": "https://voltprecon.app" }
  },
  "servers": [{ "url": "https://voltprecon.app", "description": "Production" }],
  "paths": {
    "/api/v1/health": {
      "get": { "summary": "Health + build provenance", "responses": { "200": { "description": "ok" } } }
    },
    "/api/v1/models": {
      "get": {
        "summary": "Search model index",
        "parameters": [
          { "name": "q", "in": "query", "schema": { "type": "string" } },
          { "name": "segment", "in": "query", "schema": { "type": "string", "enum": ["2W-scooter", "2W-moto", "3W-auto", "4W-SUV", "4W-sedan"] } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 20 } }
        ],
        "responses": { "200": { "description": "model rows with provenance (curated vs estimated)" } }
      }
    },
    "/api/v1/estimate": {
      "post": {
        "summary": "Physics + TCO + SoH for one model",
        "parameters": [
          { "name": "x-request-id", "in": "header", "schema": { "type": "string" }, "description": "Echoed back; incident correlation" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["modelId"],
                "properties": {
                  "modelId": { "type": "string" },
                  "icePrice": { "type": "number" },
                  "use": {
                    "type": "object",
                    "properties": {
                      "tariff": { "type": "string", "example": "IN-MH" },
                      "riderKg": { "type": "number" }, "pillionKg": { "type": "number" }, "cargoKg": { "type": "number" },
                      "speedKph": { "type": "number" }, "cityFrac": { "type": "number" }, "tempC": { "type": "number" },
                      "acLevel": { "type": "integer" }, "kmPerDay": { "type": "number" }, "years": { "type": "integer" },
                      "homeFrac": { "type": "number" }, "dcfcFrac": { "type": "number" }, "ageYears": { "type": "number" }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "realRangeKm, honestLabKm, tco, soh, resaleYr3, subsidyStatus" },
          "404": { "description": "{error:{code:UNKNOWN_MODEL,message,requestId}}" },
          "429": { "description": "{error:{code:RATE_LIMITED,...}} + Retry-After header" }
        }
      }
    },
    "/api/v1/compare": {
      "post": {
        "summary": "Ranked rivals (max 4)",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "type": "object", "properties": { "ids": { "type": "array", "items": { "type": "string" } }, "use": { "type": "object" } } } } }
        },
        "responses": { "200": { "description": "ranked estimates by TCO savings" } }
      }
    },
    "/api/v1/owner-range": {
      "post": {
        "summary": "Submit anonymous owner-verified range (aggregated per model)",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "type": "object", "required": ["modelId", "km"], "properties": { "modelId": { "type": "string" }, "km": { "type": "number" }, "cond": { "type": "string" } } } } }
        },
        "responses": { "200": { "description": "aggregate {n, avgKm}" } }
      }
    },
    "/api/v1/events": {
      "post": {
        "summary": "Anonymous product telemetry + field web-vitals (zero-result searches, estimate completions, rum_webvitals). No PII accepted.",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "properties": { "events": { "type": "array", "maxItems": 20, "items": { "type": "object", "properties": { "n": { "type": "string", "maxLength": 40, "example": "rum_webvitals" }, "p": { "type": "object", "description": "For rum_webvitals: {lcpMs,inpMs,cls}. All other events: opaque counters." } } } } } } } },
        "responses": { "200": { "description": "ack" } }
      }
    },
    "/openapi.json": { "get": { "summary": "This spec", "responses": { "200": { "description": "openapi" } } } },
    "/sitemap.xml": { "get": { "summary": "Sitemap index", "responses": { "200": { "description": "xml" } } } }
  }
}
